@{
    ViewBag.Title = "Cazare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cazare</h2>
<div style="width: 100%; margin: 0 0 0.5% 0;">
    <img src="~/content/img/37756308.jpg" style="width: 33%" />
    <img src="~/content/img/37756220.jpg" style="width: 33%" />
    <img src="~/content/img/37756753.jpg" style="width: 33%"/>
</div>
<div style="width: 100%;  margin: 0;">
    <img src="~/content/img/37757003.jpg" style="width: 33%" />
    <img src="~/content/img/37758734.jpg" style="width: 33%" />
    <img src="~/content/img/37761371.jpg" style="width: 33%" />
</div>
    <p></p>
    <p class="text-muted">
        Hotelul Mara Sinaia dispune de o structura de cazare compusa din 140 camere extrem de spatioase, standard si executive, dispuse pe 8 etaje. Toate aceste camere beneficiaza de urmatoarele facilitati :
    </p>

    <p> - balcon cu priveliste spre Muntii Baiului (entry view) sau spre padure (mountain view) </p>
    <p> - internet wireless gratuit </p>
    <p> - televiziune prin cablu </p>
    <p> - telefon cu acces direct international</p>
    <p> - minibar </p>
    <p> - toate camerele au bai dotate cu cada</p>
    <p> - instalatie de climatizare</p>
    <p> - fierbator apa ( apartamentele beneficiaza de expresor de cafea )</p>
    <p>         </p>
    <p> Va invitam sa va alegeti camera preferata ! </p>



