@{
    ViewBag.Title = "Sali de conferinte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<img src="~/content/img/slide_53d8da215f5dd.jpg" style="width: 100%" />
<p></p>
<p>
    Hotelul Mara din Sinaia beneficiaza de facilitati unice pentru organizarea de conferinte, seminarii, congrese, sau orice alta intalnire de afacere.
</p>
<p>
    Va punem la dispozitie 10 sali de conferinte, de dimensiuni diferite, incepand cu sala Magic View care poate gazdui 350 persoane in aranjament teatru, continuand cu sala King's Valley de 200 persoane in teatru, ori sala Wild Forest de 80 pers. cu cabine de traducere simultana incorporate, nu in ultimul rand, alte sali ideale pentru grupuri mai mici de 25-50 de persoane in diferite aranjamente.
</p>
<p>
    Toate salile beneficiaza de lumina naturala, cu peisaje superbe spre Muntii Baiului sau spre padure, wi-fi gratuit, instalatie de climatizare, astfel incat indiferent de marimea grupului, de aranjamentul preferat in sala, de solicitarile dvs. tehnice, cu siguranta, aveti de unde alege.
</p>


