@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Strada Sinaia nr.36<br />
    Sinaia, Romania<br />
    <abbr title="Phone">Tel:</abbr>
    425.555.0100
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Support@example.com">hotelmarasinaia@hotelmara.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@hotelmara.com</a>
</address>