@{
    ViewBag.Title = "Despre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

    <img src="~/content/img/slide_53e869eeef303.jpg" style="width: 100%"/>

    <p></p>
    <p>
        Hotelul Mara din Sinaia deschis oficial in decembrie 1995, intrat in lantul international Holiday Inn in mai 1998, numindu-se in aceasta perioada Holiday Inn Resort Sinaia, a fost primul Resort din Romania integrat in marea familie hoteliera Holiday Inn care cuprindea peste 2700 de hoteluri in toata lumea.
    </p>
    <p>
        A fost conceput ca o destinatie de vacanta, oferind facilitati atat pentru petrecerea timpului liber in imprejurimile orasului Sinaia, dar si ca o locatie ideala pentru evenimentele corporate, o premiera in momentul deschiderii sale oficiale.
    </p>
    <p>
        Hotelul Mara dispune de 140 de camere standard si executive,  3 saloane restaurant multifunctionale ideale pentru petreceri corporate sau evenimente private, peste 10 sali de conferinte, o superba piscina semi-acoperita cu vedere spre Muntii Baiului, un piano-bar unde va puteti relaxa si savura un cocktail, o baza de tratament si SPA ideala pentru revigorarea dumneavoastra.
    </p>
    <p>
        Noul management al hotelului Mara spera sa-i redea farmecul si traditia de odinioara, va invita sa-l redescoperiti, sa-i fiti din nou clienti fideli.
    </p>
    <p>
        Va asteptam cu drag.
    </p>
    <p>
        Echipa Mara Sinaia
    </p>

