
@{
    ViewBag.Title = "Piscina";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

<img src="~/content/img/slide_539af4af718cb.jpg" style="width: 100%"/>
<p></p>
<p>
    Va invitam sa descoperiti unica piscina semi-acoperita de pe Valea Prahovei, piscina hotelului Mara. Indiferent de anotimp, de faptul ca preferati sa stati in interior sau sa iesiti in sectiunea exterioara, este o experienta unica, pe care v-o recomandam cu drag.
</p>
<p>
    Ca si dotari suplimentare, va precizam ca piscina dispune de 2 saune, jacuzzi, sonorizare, cabine de schimbat, dusuri, toalete, etc.. Adancimea bazinului variaza de la 1.00m in sectiunea exterioara ( un paradis pentru cei mici sau care nu stiu sa inoate ) pana la 2.20m in sectiunea interioara. Temperatura apei 26 grade Celsius.
</p>
<p>
    Piscina beneficiaza de mese de servire in interior, in sectiunea exterioara puteti sa va relaxati pe unul din sezlongurile noastre, pe tot cuprinsul zilei puteti comanda bauturi si servicii de alimentatie publica de la barul sau restaurantul hotelului.
</p>
<p>
    Accesul in piscina hotelului se face in limita locurilor disponibile!
</p>

