
@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title</h2>

<img src="~/content/img/slide_539aef3c3eb2e.jpg" style="width: 100%"/>
<p></p>
<p>

    Sunteti invitati sa alegeti intre restaurantul clasic al hotelului Mara sau alte 2 saloane multifunctionale pentru ocazii speciale..
</p>
<p>
    In plus, pentru grupuri si petreceri corporate, pe langa preparatele delicioase si meniurile personalizate, va oferim si program artistic live asigurat de formatia noastra.
</p>
<p>
    Indiferent ca vorbim de un eveniment corporate privat, o nunta cu stil, sau cel mai important eveniment al companiei dumneavoastra, noi va vom satisface orice preferinta.
</p>


